@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap');

body{
    background:yellow;
}

h1 {
    font-weight: bolder;
    font-family: 'VT323', monospace;
    line-height: normal;
    font-size: 92px;
    color:#000;
}
.square {
    margin: 15px;
    font-size: 120px;
    font-weight: bolder;
    font-family: 'Major Mono Display', monospace;
    line-height: normal;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}
